<app-main-nav name="Customer List">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto" style="max-width: 600px;">
	<mat-list>
	  <mat-list-item *ngFor="let customer of customers" class="font-weight-bold mt-3">
	    <div class="float-left">Name:{{customer.name}}<br>Phone Number:{{customer.phone}}</div>
	    <div class="float-right ml-auto">
	      <i class="fa fa-trash" style="font-size:24px"></i>
	    </div>
	    <mat-divider></mat-divider>
	  </mat-list-item>
	</mat-list>
  </div>
</div>