<app-main-nav name="Order List">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto text-center" style="max-width: 600px;">
  <mat-form-field class="text-center">
    <input matInput type="date" class="border-bottom px-2" style="font-size : 1.2rem"  [(ngModel)]="filterDate">
  </mat-form-field>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let customer of customers">
      <mat-expansion-panel-header>
        <mat-panel-title>
          User name : {{customer.name}}<br>
          Phone number : {{customer.phone}}
        </mat-panel-title>
        <mat-panel-description>
          <span class="badge">{{customer.orders.length}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let order of customer.orders" style="font-size : 0.8rem; border : 1px solid black">
          <img [src]="order.image_url" style="width: 5vh; margin-right: 10px">
          {{order.food_name}}(${{order.price}})&nbsp;&nbsp;price({{order.count}}):&nbsp; ${{order.price*order.count}}<br>
          Reservation time:&nbsp;&nbsp; {{order.reserve_time}}
          <div class="float-right ml-auto text-right">
            <span style="color: red">{{order.when}}</span><br>
            <i class="fa fa-trash" style="font-size:18px"></i>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>


  </mat-accordion>
</div>
</div>

