@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}

.badge {
  background-color: #ea4242;
  color: white;
  margin-top: 12px;
  margin-bottom: 17px;
  border-radius: 10px;
}
