<app-main-nav name="Change password">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto text-center" style="max-width: 600px;">

<div class="text-center " style="height: calc(100vh - 56px); padding-top: 30vh">
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Current Password">
  </mat-form-field>
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="New Password">
  </mat-form-field>
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Confirm Password">
  </mat-form-field>
  <button class="btn my-5" style="width: 80%" (click)="changePassword()">Change</button>
</div>
</div>
</div>