@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}

.nav-bg-color {
  background-color: #346dd8;
}
.food_detail {
  margin: 20px;
  border-radius : 10px;
  min-height : 150px;
  background-color : #ffdfd3;
  position: relative
}
