<!--<nav class="navbar navbar-expand-lg navbar-light nav-bg-color">-->
  <!--<button mat-icon-button>-->
    <!--<i class="fa fa-angle-left" style="font-size:32px;color:white"  (click)="returnPage()"></i>-->
  <!--</button>-->
  <!--<a class="navbar-brand text-white mx-auto">Food Detail</a>-->
<!--</nav>-->
<app-main-nav name="Food Detail">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto"  style="max-width: 600px;">
    <div class="food_detail">
      <img [src]="order.image_url" alt="Los Angeles" width="100%" height="250">
      <div style="position: absolute; bottom : 10px; right : 10px;">
        <i class="fa fa-camera" style="font-size:24px;color:grey"></i>
      </div>
    </div>
  <div class="text-center">
    <mat-form-field class="mx-2" style="width: 44%;">
      <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Food Name">
    </mat-form-field>
    <mat-form-field class="mx-2" style="width: 44%;">
      <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Price">
    </mat-form-field>
    <mat-form-field class="mx-2 my-4" style="width: 90%;">
      <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Description">
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button value="new" class="mx-2 mat-radio-checked">New Food</mat-radio-button>
      <mat-radio-button value="Dis count" class="mx-2">Discount</mat-radio-button>
    </mat-radio-group>
    <div>

    </div>
    <div class="my-4">
      <label>
        New Price
      </label>
      <mat-form-field class="mx-2" style="width:10%;">
        <input matInput type="text" class="border-bottom mx-2">
      </mat-form-field>$ &nbsp;
      <label>
      Discounted
      </label>
      <mat-form-field class="mx-2" style="width:10%;">
      <input matInput type="text" class="border-bottom mx-2">
      </mat-form-field>%
    </div>
    <mat-radio-group style="font-size: 0.8rem;">
      <mat-radio-button value="all" class="mx-2">All Day</mat-radio-button>
      <mat-radio-button value="breakfast" class="mx-2">Breakfast</mat-radio-button>
      <mat-radio-button value="lunch" class="mx-2">Lunch</mat-radio-button>
      <mat-radio-button value="dinner" class="mx-2">Dinner</mat-radio-button>
    </mat-radio-group>
    <button class="btn my-4" style="width: 60%;"  (click)="Save()">Save</button>
  </div>
</div>
</div>


