.sidenav-container {
  height: 100%;
  z-index: 20;
}
.mat-icon-button {
  background: transparent;
  color : white;
}

.sidenav {
  width: 200px;
  background-color: #346dd8;
  color: white;
}
.mat-nav-list .mat-list-item {
  color: white;
}
.mat-toolbar.mat-primary {
  position: sticky;
  background-color: #346dd8;
  top: 0;
}

.res_logo {
  width: 160px;
  margin : 20px;
  border-radius: 50%;
}
