<div class="main-back p-5 text-center">
  <form class="ordernow-form">
    <mat-form-field class="ordernow-full-width">
      <input matInput type="text" placeholder="Input phone number" >
    </mat-form-field>
    <div>
      <span class="sms-txt">You will receive verify code via SMS</span>
      <button class="text-danger float-right btn btn-light font-weight-bold">Send SMS</button>
    </div>
    <br>
    <div class="text-center">
      <div class="text-center font-weight-bold mt-3">Input verify Code</div>
      <div>
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
        <input matInput type="text" maxlength="1" class="border-bottom mx-2" style="width: 20px;">
      </div>
      <div class="text-center font-weight-bold mt-3">Success!</div>
      <mat-form-field class="ordernow-full-width">
        <input matInput type="text" placeholder="New password" >
      </mat-form-field>
      <mat-form-field class="ordernow-full-width">
        <input matInput type="text" placeholder="Confirm new password" >
      </mat-form-field>

      <button class="btn" style="width: 60vw; position: absolute; bottom: 5vh; left: 20vw" (click)="Login()">Login</button>
    </div>

  </form>
</div>
