@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}
.sms-txt {
  font-size: 0.6rem;
  float: left;
  line-height: 40px
}
.ordernow-form {
  min-width: 150px;
  width: 100%;
}

.ordernow-full-width {
  width: 100%;
}
