<app-main-nav name="Add New Food">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto" style="max-width: 600px;">

<div class="food_detail">
  <div class="text-center">
    <img [src]="food.image_url" width="100%" height="30vh" *ngIf="food.image_url!=''">
    <i class="fa fa-camera" style="font-size:48px;color:grey; margin-top: 10vh" *ngIf="food.image_url==''"></i>
    <div *ngIf="food.image_url==''">Select Food Image</div>
  </div>
</div>
<div class="text-center">
  <mat-form-field class="mx-2" style="width: 39%;">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Food Name" [(ngModel)]="food.name">
  </mat-form-field>
  <mat-form-field class="mx-2" style="width: 39%;">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Price" [(ngModel)]="food.price">
  </mat-form-field>
  <mat-form-field class="mx-2" style="width: 80%;">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Description" [(ngModel)]="food.desc">
  </mat-form-field><br>
  <mat-radio-group  style=" line-height: 10vh" [(ngModel)]="food.state">
    <mat-radio-button value="new" class="mx-2">New Food</mat-radio-button>
    <mat-radio-button value="Dis count" class="mx-2">Discount</mat-radio-button>
    <mat-radio-button value="Pro motion" class="mx-2">Promotion</mat-radio-button>
  </mat-radio-group>
  <div>

  </div>
  <mat-radio-group style="font-size: 0.8rem; line-height: 10vh" [(ngModel)]="food.when">
    <mat-radio-button value="all" class="mx-2">All Day</mat-radio-button>
    <mat-radio-button value="breakfast" class="mx-2">Breakfast</mat-radio-button>
    <mat-radio-button value="lunch" class="mx-2">Lunch</mat-radio-button>
    <mat-radio-button value="dinner" class="mx-2">Dinner</mat-radio-button>
  </mat-radio-group>
  <button class="btn" style="width: 60%;"  (click)="Save()">Save</button>
</div>
</div>
</div>

