@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}
.food_detail {
  margin: 20px;
  border-radius : 10px;
  min-height : 30vh;
  background-color : #ffdfd3;
  position: relative
}
