<app-main-nav name="Profile">
</app-main-nav>
<div class="text-center main-back">
  <div class="mx-auto text-center" style="max-width: 600px;">
  <img src="assets/imgs/logo.png" alt="LOGO" class="res_logo"><br>
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Restaurant Name">
  </mat-form-field>
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Email">
  </mat-form-field>
  <mat-form-field style="width: 39%" class="mx-2">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Phone">
  </mat-form-field>
  <mat-form-field style="width: 38%" class="mx-2">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Zip Code">
  </mat-form-field>
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="Address">
  </mat-form-field>
  <mat-form-field style="width: 80%">
    <input matInput type="text" class="border-bottom mx-2 px-2"  placeholder="About Restaurant">
  </mat-form-field><br>
  <button mat-button class="btn btn-link" (click)="gotoChange()">Change Password</button><br>
  <button class="btn" style="width: 60% " (click)="Save()">Save</button>
</div>
</div>
