@media screen and (min-width : 600px){
  .main-back {
    margin-left: 200px;
  }
}
.home_slider {
  background-color: #ffdfd3;
  border-radius: 10px;
}
.home_food {
  margin: 20px;
  border-radius : 10px;
  min-height : 150px;
  background-color : #befff3;
  position: relative
}
.border-radius-10 {
  border-radius : 10px;
}
.home_tag {
  position: absolute;
  right: 0;
  top: -3px;
  width: 20px;
  font-size: 0.5rem;
  color: white;
  text-align: center;
  line-height: 9px;
}
