<app-main-nav name="Home">
</app-main-nav>
<div class="main-back">
  <div class="mx-auto" style="max-width: 600px;">

  <mat-card>
    <div id="home_slider" class="carousel slide home_slider" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#home_slider" *ngFor="let food of foods; let i=index; first as isFirst"  [attr.data-slide-to]="i"  [ngClass]="isFirst?'active':''"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner shadow border-radius-10">
        <div *ngFor="let food of foods; let i=index; first as isFirst" [ngClass]="isFirst? 'carousel-item active' : 'carousel-item'" >
          <img [src]="food.image_url" alt="Los Angeles" width="100%" height="250">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#home_slider" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#home_slider" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </mat-card>
  <mat-form-field style="margin-left: 20px">
    <mat-select  [(value)]="selected">
      <mat-option *ngFor="let f of filters" [value]="f.value">
        {{f.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card *ngFor="let food of foods; let i=index;" class="home_food" (click)="gotoDetail(i)">
    <img mat-card-md-image [src]="food.image_url" style="position: absolute">
    <img src="assets/imgs/red_tag.png" style="position: absolute; right: -3px; top: -3px; width: 25px;">
    <p class="home_tag">{{food.state}}</p>
    <mat-card-content style="margin-left: 120px">
      <div style="display: inline">
        {{food.food_name}}
      </div>
      <div style="display: inline; float: right">
        ${{food.price}}
      </div>
      <div>
        {{food.food_desc}}
      </div>
      <div style="position: absolute; bottom : 10px; right : 25px;">
        <i class="fa fa-heart" style="font-size:15px;color:red"></i>
        {{food.favor}}
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
